<!-- Validation failure messages -->
<% if @follow.errors.any? %>
  <% @follow.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Follow</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_follow" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for follower_id -->
      <div class="form-group">
        <label for="follower_id" class="control-label">
          Follower
        </label>

        <input type="text" id="follower_id" name="follower_id" placeholder="Follower" class="form-control" value="<%= @follow.follower_id %>">
      </div>

      <!-- Label and input for following_id -->
      <div class="form-group">
        <label for="following_id" class="control-label">
          Following
        </label>

        <input type="text" id="following_id" name="following_id" placeholder="Following" class="form-control" value="<%= @follow.following_id %>">
      </div>

      <button class="btn btn-success">
        Create Follow
      </button>
      or
      <a href="/follows">Cancel</a>
    </form>
  </div>
</div>
